
<div class="main-banner">
    <div class="main-banner-item banner-item-two">
    <div class="container">
    <div class="row align-items-center">
    <div class="col-lg-6">
    <div class="main-banner-content">
    <h1>However, you make it we'll help you save it</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
    <div class="banner-btn">
    <a href="#" class="default-btn">Get started</a>
    </div>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="main-banner-form">
    <div class="content">
    <h3>Sign in your account</h3>
    </div>
    <form>
    <div class="row">
    <div class="col-lg-12 col-sm-12">
    <div class="form-group ">
    <label>Account type</label>
    <select class="nice-select">
    <option value="">Online banking</option>
    <option value="">Online investing</option>
    <option value="">Business banking</option>
    <option value="">Mobile banking</option>
    <option value="">Corporate & commercial</option>
    <option value="">Institutional</option>
    </select>
    </div>
    </div>
    <div class="col-lg-12 col-sm-12">
    <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Username">
    </div>
    </div>
    <div class="col-lg-12 col-sm-12">
    <div class="form-group">
    <label>Personal ID</label>
    <input type="text" class="form-control" placeholder="Personal ID">
    </div>
    </div>
    <div class="col-lg-12 col-sm-12">
    <div class="form-group">
    <label>Password</label>
    <input type="text" class="form-control" placeholder="Password">
    </div>
    </div>
    <div class="col-md-12">
    <div class="banner-form-btn">
    <button type="submit" class="default-btn">
    Sing in
    </button>
    </div>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    