 
<!-- ======= Header ======= -->
<header id="header" class="fixed-top  header-transparent ">
    <!-- ======= Top Bar ======= -->
    <div class="top-header-area">
      <div class="container">
      <div class="row align-items-center">
      <div class="col-lg-6">
      <ul class="top-header-information">
      <li>
      <i class='bx bx-envelope'></i>
      <a href="/cdn-cgi/l/email-protection#7119141d1d1e31161c10181d5f121e1c"><span class="__cf_email__" data-cfemail="81e9e4ededeec1e6ece0e8edafe2eeec">[email&#160;protected]</span></a>
      </li>
      <li>
      <i class='bx bxs-phone'></i>
      <a href="tel:15143125678">+1 (514) 312-5678</a>
      </li>
      </ul>
      </div>
      <div class="col-lg-6">
      <ul class="top-header-others">
      <li>
      <i class='bx bxs-map'></i>
      <a href="atm-and-bank-locations.html">ATMs location</a>
      </li>
      </ul>
      </div>
      </div>
      </div>
      </div>
      
   
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
           <div class="container">
            <div class="main-responsive-menu">
                <a  class="logo" [routerLink]="['../']" rel="home">
              <img src="../../../../../assets/welcome/img/logo-1.png" alt="image">
              </a>
              </div>
            <!-- <div class="logo">
              <a [routerLink]="['../']" rel="home" title="" title=""><img alt="" src=""><strong>Bay<span>kins</span></strong></a>
            </div> -->
             <!-- <a class="navbar-brand ms-auto" href="#">Navbar</a> -->
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse flex-grow-1 text-right mean-menu" id="myNavbar">
               <ul class="navbar-nav ms-auto flex-nowrap">
                <li class="nav-item">
                  <a [routerLink]="['../']" class="nav-link m-2 menu-item nav-active">Home</a>
              </li>
                <li class="nav-item">
                       <a [routerLink]="['../Service']" class="nav-link m-2 menu-item nav-active">Our Solution</a>
                   </li>
                   <li class="nav-item">
                       <a [routerLink]="['../About']" class="nav-link m-2 menu-item">About</a>
                   </li>
                   <li class="nav-item">
                       <a [routerLink]="['../Contact']" class="nav-link m-2 menu-item">Contact</a>
                   </li>
                   
               </ul>
               <ul class="navbar-nav ms-auto flex-nowrap">
                
                 <!-- <li class="nav-item">
                     <a [routerLink]="['../login']" class="nav-link m-2 menu-item">Login</a>
                 </li>
                 <li class="nav-item">
                     <a [routerLink]="['../register']" class="nav-link m-2 menu-item">Register</a>
                 </li> -->
             </ul>
           </div>
           </div>
         </nav>
   
     
     </header>
     <!-- End Header -->
     <br><br>  <br><br>  <br>